<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team">
	<select id="selectTeamList" resultType="java.util.HashMap">
		SELECT TEAM_CODE
			  ,TEAM_NM 
		FROM TB_TEAM 
		WHERE TEAM_FG = 'Y'
	</select>
</mapper>








